
{deps, [
        %% Handy debug stuff, not used during production
	%% {recon, ".*", {git, "https://github.com/ferd/recon.git", ""}},
	%% Include lager here if you want it...
	{lager, ".*", {git, "git://github.com/basho/lager.git", "4d8291edb72a25ac0efde907e2ecaa115108ff90"}},
	{eenum, ".*", {git, "git://github.com/cfra/eenum.git", "bfd78ff6a2f4909afc628cd219c096177f536628"}},
	{procket, ".*", {git, "https://git.netdef.org/scm/osr/procket.git", "539c6523f35cdb9dbde1911d4aa59dc77e2fd790"}},
	{yaws, ".*", {git, "git://github.com/rickpayne/yaws.git", "15b600619c6a4e54b8c50908e94b2a4d7c09c343"}},
	{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "e18ea912b62b0f4a48d0f0edc8bb2f542863a88c"}},
       ]}.

{erl_opts, [
	    bin_opt_info,
	    debug_info, fail_on_warning,
	    {parse_transform, eenum}
	   ]}.

{require_otp_vsn, "R16|17|18"}.

{post_hooks,[{compile, "relx"}]}.
