{sub_dirs, ["hostinfo"]}.

{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", "4d8291edb72a25ac0efde907e2ecaa115108ff90"}},
	{eenum, ".*", {git, "git://github.com/cfra/eenum.git", "bfd78ff6a2f4909afc628cd219c096177f536628"}},
	{procket, ".*", {git, "https://git.netdef.org/scm/osr/procket.git", "539c6523f35cdb9dbde1911d4aa59dc77e2fd790"}},
	{yaws, ".*", {git, "git://github.com/rickpayne/yaws.git", "15b600619c6a4e54b8c50908e94b2a4d7c09c343"}},
	{goldrush, ".*", {git, "git://github.com/DeadZen/goldrush.git", "71e63212f12c25827e0c1b4198d37d5d018a7fec"}},
	{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "e18ea912b62b0f4a48d0f0edc8bb2f542863a88c"}},
	{gen_socket, ".*", {git, "https://git.netdef.org/scm/osr/gen_socket.git", "driver-poll"}},
	{gen_netlink, ".*", {git, "https://github.com/rickpayne/gen_netlink.git", "driver_poll_gen_socket"}}
       ]}.

{erl_opts, [
	    bin_opt_info,
	    debug_info, fail_on_warning,
	    {parse_transform, eenum},
	    {parse_transform, lager_transform}
	   ]}.

{require_otp_vsn, "R16|17"}.

{post_hooks,[{compile, "relx"}]}.
