{sub_dirs, ["rel"]}.

{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{eenum, ".*", {git, "git://github.com/rpt/eenum.git", "ae7f7c3c3e2df8f2cf89ea7c" }},
	{procket, ".*", {git, "git+ssh://git.netdef.org:7999/osr/procket.git"}},
	{yaws, ".*", {git, "git://github.com/rickpayne/yaws.git", "master"}}
       ]}.

{erl_opts, [
	    bin_opt_info,
	    debug_info, fail_on_warning,
	    {parse_transform, eenum},
	    {parse_transform, lager_transform}
	   ]}.

{require_otp_vsn, "R16"}.
