{include_erts, true}.
{include_src, false}.
{lib_dirs, ["hostinfo/"]}.
{release,
    {isis, "0.0.1"},
    [isis, hostinfo
]}.

{sys_config, "src/sys.config"}.

{extended_start_script, true}.

{overlay, [
	{mkdir, "html/d3"},
	{copy, "html/index.yaws", "html/index.yaws"},
	{copy, "html/d3/d3.js", "html/d3/d3.js"},
	{copy, "html/d3/d3.min.js", "html/d3/d3.min.js"},
	{copy, "html/database.yaws", "html/database.yaws"},
	{copy, "html/lspdb.yaws", "html/lspdb.yaws"},
	{copy, "html/state.yaws", "html/state.yaws"},
	{copy, "html/hostinfo.yaws", "html/hostinfo.yaws"}
]}.
