html,body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

div.container {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
}

svg.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 25%;
	width: 80%;
	height: 100%;
}

div.infobox {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0%;
	width: 25%;
	height: 100%;
	background-color: #ddd;
	padding-left: 10px;
	padding-top: 10px;
	overflow: scroll;
}

div.hostinfo-display p {
	font: bold 11px Verdana, Helvetica, sans-serif;
}

div.hostinfo-display ul {
	list-style-type: none;
	padding: 0px;
}

div.hostinfo-display li {
	font: 10px Verdana, Helvetica, sans-serif;
	padding-left: 10px;
}

div.hostinfo-display .type {
	font-weight: bold;
}

circle.router {
	fill: blue;
}

circle.pseudo {
	fill: black;
}

circle.port {
	r: 5px;
	fill: black;
}

line.link {
	stroke: #777;
	stroke-width: 2px;
}

text.port {
	alignment-baseline: middle;
	text-anchor: middle;
	font: 10px Verdana, Helvetica, sans-serif;
}

text.router-label {
	font: bold 11px Verdana, Helvetica, sans-serif;
}
