%% Set the appropriate options for ISIS. This is copied into place by
%% relx
[{isis,
  [{startup, [
	      {ignore_interfaces, ["eth0.1"]},
	      {autoconf_fingerprint, <<1,2,3,4,0:256>>},
	      {autoconf, true}
	     ]},
   {rib_client, zclient}  %% isis_netlink for a direct netlink interface
  ]},
 {lager, [{handlers,
	   [
	    {lager_console_backend, info},	
	    {lager_file_backend, [{file, "debug.log"}, {level, debug},
				  {size, 10000000}, {date, "$D0"}, {count, 5}]},
	    {lager_file_backend, [{file, "error.log"}, {level, error},
				  {size, 10000000}, {date, "$D0"}, {count, 5}]},
	    {lager_file_backend, [{file, "console.log"}, {level, info},
				  {size, 10000000}, {date, "$D0"}, {count, 5}]}
	   ]},
	  {colored, true}
	 ]
 }
].
